.mainDiv{
    display: grid;
    height: 100em;
    /* width: 50em; */
    /* background-color: white; */
    text-align: center;
}
html, body {
    background-color: white;
    background-image: url(lollipops.png), url(lollipops.png);
    background-position-x: 5%, 100%;
    background-position-y: 10%, 10%;
    background-repeat: no-repeat;
    background-size: 40%, 40%;
}

.play:hover,
.play:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.stop:hover,
.stop.focus{
  box-shadow: 
    inset -3.5em 0 0 0 var(--hover),
    inset 3.5em 0 0 0 var(--hover);  
}

$colors: (
  stop: #b40808,
  play: green
);

@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 45deg)};
    }
}

button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}

button {  
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

h1 { font-weight: 400; }

code { 
  color: #e4cb58;
  font: inherit;
}
